*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #caf0f8;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 45px;
}
.contianer{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vmin;
    height: 60vmin;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    width: 18vmin;
    height: 18vmin;
    border-radius: 15px;
    border: none;
    background-color: #e6ccb2;
    color:#10002b ;
    font-size: 6vmin;
    cursor: pointer;
}
.box:hover{
    opacity: 0.8;
}
.restart{
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: #10002b;
    color: white;
    cursor: pointer;
}
.restart:hover{
    opacity: 0.9;
}
.msg-container{
    color: #b08968;
}
.newGame{
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #e6ccb2;
    border: none;
    cursor: pointer;
}
.newGame:hover{
    opacity: 0.9;
}
.hide{
    display: none;
}